<div class="container">
  <div class="table-container">
    <table>
      <thead>
        <tr>
          <th>Name</th>
          <th>Total Time in Month</th>
        </tr>
      </thead>
      <tbody>
        @for (employee of employees; track employee.EmployeeName){
          <tr [ngClass]="{'highlight': employee.TotalWorkingHours < 100}">
            <td>{{employee.EmployeeName}}</td>
            <td>{{employee.TotalWorkingHours}} hrs</td>
          </tr>
        }
      </tbody>
    </table>
  </div>
</div>